@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos básicos del contenedor del producto */
.product-card {
  position: relative;
  width: 250px;
  height: 350px;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.product-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}

.product-info h3,
.product-info p {
  margin: 0;
}

/* Efecto de oscurecer el producto */
.product-card.hovered {
  filter: brightness(50%);
}

.product-card.hovered .product-image {
  opacity: 0.7;
}

/* Estilo para el icono del carrito */
.cart-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
  color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.cart-icon.show {
  color: #fff; /* Hacemos visible el icono y le damos color blanco */
  opacity: 1;
}
