@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos básicos del contenedor del producto */
.product-card {
  position: relative;
  width: 250px; /* Ajusta el tamaño de la tarjeta */
  height: 350px; /* Ajusta la altura de la tarjeta */
  margin: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.product-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}

.product-info h3,
.product-info p {
  margin: 0;
}

/* Efecto de oscurecer el producto */
.product-card.hovered {
  filter: brightness(50%);
}

.product-card.hovered .product-image {
  opacity: 0.7;
}

/* Estilo para el botón de añadir al carrito */
.add-to-cart-btn {
  padding: 8px 16px; /* Reducido el tamaño del padding */
  font-size: 14px; /* Reducido el tamaño de la fuente */
  border-radius: 8px; /* Bordes redondeados */
  background-color: #3f51b5; /* Color de fondo verde */
  color: white; /* Texto blanco */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #3949ab; /* Color más oscuro al pasar el ratón */
  transform: scale(1.05); /* Ligero efecto de aumento al pasar el ratón */
}

/* Estilo para el icono del carrito (se muestra solo cuando el producto está hover) */
.cart-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
  color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.cart-icon.show {
  color: #fff; /* Hacemos visible el icono y le damos color blanco */
  opacity: 1;
}
